spring:
  datasource:
    url: jdbc:h2:mem:churndb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

ds:
  service:
    url: ${DS_SERVICE_URL:http://localhost:8000}
